.container {
  position: relative;
}
.delete_btn {
  position: absolute;
  right: 0;
  bottom: 15px;
  cursor: pointer;
  border: 1px solid rgba(220, 220, 220);
  padding: 5px 10px;
  border-radius: 5px;
}
